<h2>Liste des cocktails</h2>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<%= link_to 'Ajoutez votre cocktail !', new_cocktail_path, class: 'btn btn-success' %>
